{% trans_default_domain "base" %}
{% import '::utils.html.twig' as utils %}
<!DOCTYPE html>
{% set locale =  app.request.locale|split('_')[0] %}
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="video app">
    <meta name="author" content="ben.IT">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ app_title }}</title>
    <link href="{{ asset('assets/dist/css/vendors.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/dist/css/app.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="loading"></div>

<div id="contents" class="container">
    <div class="header clearfix">
        <nav>
            <a href="{{ path('home_index') }}" class="navbar-left">
                <img id="img-logo" src="{{ asset('assets/dist/image/custom-logo.png') }}" alt="{{ app_short_title }}" onerror="this.src='{{ asset('assets/dist/image/default-logo.png') }}';"/>

            </a>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{{ path('home_index') }}">{% trans %}home{% endtrans %}</a></li>
                <li role="presentation"><a data-toggle="modal" data-target="#myModal" href="#">{% trans %}about.button{% endtrans %}</a></li>
                <li role="presentation">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {#<h4 class="text-muted">{{ app_title }}</h4>#}
    </div>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% block body %}{% endblock %}
    <footer class="footer">
        <p>{% trans %}footer.body{% endtrans %}</p>
    </footer>
</div> <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans %}about.button{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ app_about|raw }}
                <p>{% trans %}about.modal.body{% endtrans %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/dist/js/vendors.min.js') }}"></script>
<script src="{{ asset('assets/dist/js/translations/'~locale~'.min.js') }}"></script>
<script src="{{ asset('assets/dist/js/app.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>