{% trans_default_domain 'FOSUserBundle' %}
<form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
    <input class="form-control mb-2 mr-sm-2 mb-sm-0" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>

    <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
    <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="password" id="password" name="_password" required="required"/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
</form>
{% if error %}
    <div class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<br>
{#<a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>#}