{% extends 'base.html.twig' %}
{% trans_default_domain "home" %}

{% block body %}
    <div class="jumbotron">
        <h1>
            {{ app_short_title }}
        </h1>
        <p class="lead">
            <span>{{ app_slogan }}</span>
        </p>
        <div class="row">
            {% if latestVideos %}
                <h2><span class="slabtext">{% trans %}lastest_videos{% endtrans %}</span></h2>
                {% for  video in latestVideos %}
                    <div class="col-md-4">
                        <em>{{ video.title }}</em>
                        <video width="200" controls>
                            <source src="{{ path('video_stream', { 'id': video.id }) }}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                {% endfor %}
            {% else %}
                <em>no video yet.<a href="{{ path('video_new') }}">Upload one.</a></em>
            {% endif %}

        </div>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h3>{% trans %}functional_features{% endtrans %}</h3>
            <h4><a href="{{ path('video_index') }}">{% trans %}video_management{% endtrans %}</a></h4>
            <h4><a href="{{ path('user_index') }}">{% trans %}user_management{% endtrans %}</a></h4>
            <h4><a href="{{ path('tag_index') }}">{% trans %}category_management{% endtrans %}</a></h4>

            <h4>{% trans %}webservices{% endtrans %}</h4>
        </div>

        <div class="col-lg-6">
            <h3>{% trans %}technical_features{% endtrans %}</h3>
            <h4>{% trans %}sf3{% endtrans %}</h4>

            <h4>{% trans %}pgsql{% endtrans %}</h4>

            <h4>{% trans %}auth_ldap_possible{% endtrans %}</h4>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bower_components/slabText/css/slabtext.css') }}">
    <style>
        h1 {
            text-shadow: 0px 0px 9px #777;
        }
    </style>

{% endblock %}

{% block javascripts %}
{% endblock %}