{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>
            <span class="slabtext">{{ app_short_title }}</span>
        </h1>
        <p class="lead">
            <span>{{ app_slogan }}</span>
        </p>
        <div class="row">
            {% if latestVideos %}
                <h2><span class="slabtext">Latest videos</span></h2>
                {% for  video in latestVideos %}
                    <div class="col-md-4">
                        <em>{{ video.title }}</em>
                        <video width="200" controls>
                            <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                {% endfor %}
            {% else %}
                <em>no video yet.<a href="{{ path('video_new') }}">Upload one.</a></em>
            {% endif %}

        </div>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h3>Functional features</h3>
            <h4><a href="{{ path('video_index') }}">Video management</a></h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4><a href="{{ path('user_index') }}">User management</a></h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Webservices</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h3>Technical features</h3>
            <h4>Symfony 3</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>PostGreSQL</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>LDAP authentication possible</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bower_components/slabText/css/slabtext.css') }}">
    <style>
        h1 {
            text-shadow: 0px 0px 9px #777;
        }
    </style>

{% endblock %}

{% block javascripts %}
{% endblock %}