{% extends 'base.html.twig' %}

{% block body %}
    <h1>Videos list</h1>
    <a class="btn btn-primary" href="{{ path('video_new') }}">Create a new video</a>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td><a href="{{ path('video_show', { 'id': video.id }) }}">{{ video.id }}</a></td>
                <td>{{ video.title }}</td>
                <td>{{ video.description }}</td>
                <td>
                    <a class="glyphicon glyphicon-play" href="{{ path('video_show', { 'id': video.id }) }}"></a> &nbsp;
                    <a class="glyphicon glyphicon-edit" href="{{ path('video_edit', { 'id': video.id }) }}"></a> &nbsp;
                    <a class="glyphicon glyphicon-remove" href="{{ path('video_delete', { 'id': video.id }) }}"></a> &nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
