{% extends 'base.html.twig' %}
{% trans_default_domain "video" %}
{% block body %}
    <style>
        .row{
            padding-bottom: 20px;
        }
    </style>
    <h2>Informations</h2>
    <div style="background-color:#eceeef;border-radius: 3px; padding: 20px">
        <div class="row">
            <div class="col-lg-2">
                {% trans %}index.video_title{% endtrans %}
            </div>
            <div class="col-lg-8">
                {{ video.title }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% trans %}index.description{% endtrans %}
            </div>
            <div class="col-lg-8">
                {{ video.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% trans %}index.tag{% endtrans %}
            </div>
            <div class="col-lg-8">
                {% for tag in video.tags %}
                    <a class="btn btn-default" href="{{ path('tag_show',{'id':tag.id}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% trans %} index.created_by{% endtrans %}
            </div>
            <div class="col-lg-8">
                <a class="btn btn-default" href="{{ path('user_show',{'id':video.creator.id}) }}">{{ video.creator }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% trans from "common" %}actions{% endtrans %}
            </div>
            <div class="col-lg-8">
                <a class="btn btn-primary" href="{{ path('video_edit',{'id': video.id}) }}">{% trans from "common" %}update{% endtrans %}</a>
                <a class="btn btn-info" data-toggle="modal" data-target="#modal-share-video" href="#">{% trans from "common" %}share{% endtrans %}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% trans %}form_create.file{% endtrans %}
            </div>
            <div class="col-lg-10">
                <video id="my-video" class="video-js js-default-skin vjs-16-9" controls preload="auto"
                       poster="{{ asset('assets/dist/image/video-poster.png') }}"
                       data-setup="{}">
                    <source src="{{ path('video_download',{'id':video.id}) }}" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>

            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('video_index') }}">{% trans from "common" %}back{% endtrans %}</a>
    <div class="modal fade" id="modal-share-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans from "common" %}share{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        {% set videoLink =   absolute_url(path('video_download',{'id':video.id})) %}
                        {% trans from "video" %}share.download{% endtrans %} : <a href="{{ videoLink }}">{{ videoLink }}</a> <br>
                        <img class='img-centered' src="{{ qrcode_data_uri(videoLink, { writer: 'svg', size: 150 }) }}"/><br>
                        {% set videoLinkHls =   absolute_url(path('stream_video',{'id':video.id})) %}
                        {% trans from "video" %}share.hls{% endtrans %} : <a href="{{ videoLinkHls }}">{{ videoLinkHls }}</a> <br>
                        <img class='img-centered' src="{{ qrcode_data_uri(videoLink, { writer: 'svg', size: 150 }) }}"/><br>
                        {% set videoLinkLti =   absolute_url(path('lti_show',{'id':video.id})) %}
                        {% trans from "video" %}share.lti{% endtrans %} : <a href="{{ videoLinkLti }}">{{ videoLinkLti }}</a> <br>
                        <img class='img-centered' src="{{ qrcode_data_uri(videoLinkLti, { writer: 'svg', size: 150 }) }}"/><br>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans from "common" %}modal.close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}