{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ video.title }}</h2>
    <div class="row marketing">
        <div style="background-color: #eceeef;border-radius: 3px; padding: 20px" class="col-lg-12">
            <p class="lead"> {{ video.description }}</p>
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video controls autoplay class="embed-responsive-item">
                    <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type="video/mp4">
                </video>
            </div>


            {% set videoLink =  vich_uploader_asset(video, 'videoFile') %}

            <a href="{{ videoLink }}">Video link</a>
            <a href="{{ qrcode_path(videoLink) }}">QR code link</a>



        </div>
        <a class="btn btn-primary" href="{{ path('video_index') }}">Back to the list</a>
    </div>
{% endblock %}
