{% extends 'base.html.twig' %}
{% trans_default_domain "video" %}
{% block body %}
    <h2>{{ video.title }}</h2>
    <div class="row marketing">
        <div style="background-color: #eceeef;border-radius: 3px; padding: 20px" class="col-lg-12">
            <p class="lead"> {{ video.description }}</p>
            <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
                   poster="{{ asset('assets/dist/image/video-poster.png') }}"
                   data-setup="{}">
                <source src="{{ path('video_download',{'id':video.id}) }}" type='video/mp4'>
                {#<source src="MY_VIDEO.webm" type='video/webm'>#}
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            {% trans %}index.tag{% endtrans %}
            {% for tag in video.tags %}
                <a href="{{ path('tag_show',{'id':tag.id}) }}">
                    <div class="tag">{{ tag.name }}</div>
                </a>
            {% endfor %}
            {% trans %} index.created_by{% endtrans %} : <a href="{{ path('user_show',{'id':video.creator.id}) }}">{{ video.creator }}</a>
        </div>

        <a href="{{ path('video_edit',{'id': video.id}) }}">{% trans from "common" %}update{% endtrans %}</a> -
        <a data-toggle="modal" data-target="#modal-share-video" href="#">{% trans from "common" %}share{% endtrans %}</a>

    </div>
    <a class="btn btn-primary" href="{{ path('video_index') }}">{% trans from "common" %}back{% endtrans %}</a>
    <div class="modal fade" id="modal-share-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans from "common" %}share{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        {% set videoLink =   absolute_url(path('video_download',{'id':video.id})) %}
                        {% trans from "video" %}share.download{% endtrans %} : <a href="{{ videoLink }}">{{ videoLink }}</a> <br>
                        <img class='img-centered' src="{{ qrcode_data_uri(videoLink, { writer: 'svg', size: 150 }) }}"/><br>
                        {% set videoLinkHls =   absolute_url(path('video_hls',{'id':video.id})) %}
                        {% trans from "video" %}share.hls{% endtrans %} : <a href="{{ videoLinkHls }}">{{ videoLinkHls }}</a> <br>
                        <img class='img-centered' src="{{ qrcode_data_uri(videoLink, { writer: 'svg', size: 150 }) }}"/><br>
                        {% set videoLinkLti =   absolute_url(path('lti_show',{'id':video.id})) %}
                        {% trans from "video" %}share.lti{% endtrans %} : <a href="{{ videoLinkLti }}">{{ videoLinkLti }}</a> <br>
                        <img class='img-centered' src="{{ qrcode_data_uri(videoLinkLti, { writer: 'svg', size: 150 }) }}"/><br>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans from "common" %}modal.close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}