{% extends 'base.html.twig' %}
{% trans_default_domain "tag" %}
{% block body %}
    <h2>{{ title }}</h2>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.restricted) }}
        {{ form_widget(form.restricted, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.restricted) }}
    </div>
    <input type="submit" value="{% trans from "common" %}save{% endtrans %}"/>
    {{ form_end(form) }}
    <a class="" href="{{ path('tag_index') }}">{% trans from "common" %}back{% endtrans %}</a>

{% endblock %}
