{% extends 'base.html.twig' %}
{% trans_default_domain "tag" %}
{% block body %}
    <h2>{% trans %}index.title{% endtrans %}</h2>
    <a class="btn btn-primary" href="{{ path('tag_new') }}">{% trans %}index.create_tag{% endtrans %}</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>{% trans %}index.id{% endtrans %}</th>
            <th>{% trans %}index.name{% endtrans %}</th>
            <th>{% trans %}index.restricted{% endtrans %}</th>
            <th>{% trans %}index.number_video{% endtrans %}</th>
            <th>{% trans from "common" %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.id }}</a></td>
                <td>{{ tag.name }}</td>
                <td>{{ tag.restricted | boolean }}</td>
                <td> {{ tag.videos | length }}</td>
                <td>
                    <a class="glyphicon glyphicon-play" href="{{ path('tag_show', { 'id': tag.id }) }}"></a> &nbsp;
                    <a class="glyphicon glyphicon-edit" href="{{ path('tag_edit', { 'id': tag.id }) }}"></a> &nbsp;
                    <a class="glyphicon glyphicon-remove" href="{{ path('tag_delete', { 'id': tag.id }) }}"></a> &nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


