{% extends 'base.html.twig' %}
{% trans_default_domain 'tag' %}
{% block body %}
    <h2>{% trans %}tag{% endtrans %} '{{ tag.name }}'</h2>
    <div class="row marketing">
        <div style="background-color: #eceeef;border-radius: 3px; padding: 20px" class="col-lg-12">
            <ul>
                <li>{% trans %}index.id{% endtrans %} : {{ tag.id }}</li>
                <li>{% trans %}index.name{% endtrans %} : {{ tag.name }}</li>
                <li>{% trans %}index.restricted{% endtrans %} : {{ tag|boolean }}</li>
                <li>Vidéos :
                    {% if tag.videos %}
                        <ul>
                            {% for video in  tag.videos %}
                                <li><a href="{{ path('video_show', {'id':video.id}) }}">{{ video.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>

    <a class="back" href="{{ path('tag_index') }}">{% trans from "common" %}back{% endtrans %}</a>

{% endblock %}
